pre[data-language] {
  position: relative;
  padding: 10px;
  border: 1px solid #eee;
}

pre[data-language]::before {
  position: absolute;
  font-size: 0.5em;
  right: 0;
  top: 0;
  content: attr(data-language);
  opacity: 0.5;
}

.Prosemirror blockquote pre[data-language]:first-child {
  margin-top: 5px;
}
