.Prosemirror__form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  font-size: 0.8em;
}

.Prosemirror__form-input.text {
  margin-bottom: 5px;
}

.Prosemirror__form-input__error {
  color: #ffe02f;
}
