.Prosemirror__overlay-form {
  margin: 0;
  padding: 5px 10px;
  background: #323845;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000;
}

.Prosemirror__overlay-form::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 45%;
  border: 8px solid #323845;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
}
